.header-img {
  width: 100vw;
  height: 60vh;
  overflow: hidden;
}

.header-img > img {
  width: 1440px;
}

.header-text {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 30vh;
  color: black;
}

@media (min-width: 1440px) {
  .header-img > img {
    width: 100vw;
  }
}