#fancy-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

#fancy-box > :nth-child(-n + 2) {
  margin-top: 50px;
}

#fancy-box > * {
  margin: 25px;
}