#archive-link {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  background-color: var(--secondary-color);
}

#fancy-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

#fancy-box > * {
  margin: 25px;
}