#community-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#community-form > * {
  margin: 20px;
}

#community-form > :first-child, #community-form > :nth-child(6) {
  width: 90vw;
}

#community-form > :nth-child(2), #community-form > :nth-child(5) {
  width: 50vw;
}

.community-input-card > div > img {
  max-height: 70vh;
  max-width: 40vw;
}

@media (max-width: 576px) {
  #community-form > :nth-child(2), #community-form > :nth-child(5) {
    width: auto;
  }
}