/* .img-crop {
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 60vh;
} */

#brand-statement {
  width: 100%;
  text-align: center;
  color: white;
  position: relative;
  top: 40%;
}
#home-img {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url('https://i.imgur.com/6FuGBua.jpg')
}