.row {
  --bs-gutter-x: 0;
}


#home-img {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#home-img > img {
  width: 1440px;
}

@media (min-width: 1440px) {
  #home-img > img {
    width: 100vw;
  }
}

#brand-statement {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 40%;
  color: white;
}

.img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent1);
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 20px;
}

.col-xl {
  padding: 0;
}

#home-row1 {
  background-color: var(--primary-color);
}

#home-row2 {
  background-color: var(--secondary-color);
}

.img-text > p {
width: 300px;
}

#home-pic-1 {
  height: 100vh;
  margin: 20px;
}

.home-pix {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .img-text {
    height: 60vh;
  }
}

