.header-img {
  width: 100vw;
  height: 70vh;
  overflow: hidden;
}

.header-img > img {
  height: 100%;
}

.header-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: calc(2em + 2.5vw);
  text-shadow: 2px 5px 2px #000000;
  color: white;
  top: 30vh;
}

#header-edit-btn {
  position: absolute;
  left: 0;
  bottom: 30%;
}

@media (min-width: 576px) {
  .header-img > img {
    width: 1440px;
    height: auto;
  }
}

@media (min-width: 1440px) {
  .header-img > img {
    width: 100vw;
    height: auto;
  }
}