.header-img {
  position: relative;
  width: 100vw;
  height: 55vh;
  overflow: hidden;
}

.header-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: calc(2em + 2.5vw);
  text-shadow: 2px 5px 2px #000000;
  color: white;
  top: 25vh;
}

#header-edit-btn {
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (min-width: 1440px) {
  .header-img > img {
    width: 100vw;
    height: auto;
  }
}