
#detail-list > * {
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 0px;
  border: none;
  background-color: var(--secondary-color);
}

#detail-list > :nth-child(even) {
  background-color: var(--primary-color);
}

.event-img {
  max-width: 90vw;
  max-height: 90vh;
}

.event-detail-desc {
  font-size: calc(0.5em + 1vw);
}

@media (max-width: 768px) {
  .event-img {
    width: 100vw;
  }
}
