
#detail-list > * {
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 0px;
  border: none;
  background-color: var(--secondary-color);
}

#detail-list > :nth-child(even) {
  background-color: var(--primary-color);
}

#detail-list > :last-child {
  font-size: 1.5vw;
}

.event-img {
  height: 54vmax;
}
