#scholarship-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


#scholarship-body > :first-child {
  margin: 20px;
  grid-column: span 2;
}

#scholarship-body > :last-child {
  margin: 20px;
  grid-column: span 2;
}

#scholarship-body > :nth-child(2) {
  width: 50%;
  margin: auto;
}

#scholarship-body > img {
  height: 70vh;
  margin: auto;
}
