#community-body {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

#community-body > :nth-child(n +2):nth-child(-n +4) {
  margin: auto 20px;
}

#community-body > img {
  height: 70vh;
}

#community-body > :first-child {
  margin: 20px;
  grid-column: span 3;
}

#community-body > :last-child {
  margin: 20px;
  grid-column: span 3;
}