#edit-community-btn {
  display: block;
  margin: 20px auto;
}

#community-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: var(--text-color);
}

#community-body > * {
  margin: 20px;
}

#community-body > :nth-child(2), #community-body > :nth-child(5){
  width: 50vw;
}

#community-body > :first-child, #community-body > :last-child{
  width: 90vw;
}

#community-body > img {
  max-height: 70vh;
  max-width: 30vw;
  object-fit: cover;
}

@media (max-width: 576px) {
  #community-body > :nth-child(2), :nth-child(5) {
    width: auto;
  }
}