.blog-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* height: 90vh;
  width: 100vw; */
}

.blog-header-img {
  object-fit: cover;
  /* max-height: 50vh; */
  max-width: 80vw;
}

.blog-title {
  font-size: calc(3em + 7vw);
  text-align: center;
}

.blog-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.blog-gallery > * > * {
  height: 40vh;
}

.blog-gallery > * {
  padding: 10px;
}

.blog-body {
  white-space: pre-wrap;
  margin: auto;
  font-size: large;
  color: white;
  width: 60vw;
  padding: 20px;
  background-color: var(--secondary-color);
  border: 15px solid var(--primary-color);
}

/* @media (max-width: 1440px) {
  .blog-header-img {
    width: 1440px;
  }
} */

@media (max-width: 768px) {
  .blog-header {
    height: 60vw;
  }

  .blog-header-img {
    width: 100%;
  }

  .blog-body {
    width: 90vw;
  }
}