.event-card {
  position: relative;
  width: 70vw;
  height: 30vmax;
  text-align: center;
  margin: 1vmin auto;
}

#event-body {
  position: relative;
  background-color: red;
}

.card-body {
  padding: 0;
}

.card-date {
  position: absolute;
  top: 0;
  height: 100%;
  width: 30%;
  background-color: var(--accent1);
}