
#color-form-container {
  position: fixed;
  z-index: 4;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 60vw;
  /* height: 40vh; */
  border: 5px solid white;
  border-radius: 50px;
  /* background-color: rgba(255, 255, 255, 0.477); */
}


#color-input-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-top: 5vh;
}

.open-color-container {
  display: flex;
  gap: 10px;
}

.open-color-container > div {
  height: 43px;
  width: 43px;
  border: 2px solid black;
}

#final-color-btn-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-items: center;
  align-items: center;
  margin-bottom: 5vh;
}
#color-submit-btn {
  grid-column: 2;
}