#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #5e5e5e;
  border-top: solid rgb(74, 74, 74) 5px;
}

#footer-logo {
  height: 12vmax;
  border-radius: 50%;
}

#footer-links {
  display: flex;
  flex-direction: column;
  font-size: 2.5vmin;
  margin: 10px;
}

#footer-links > * {
  color: white;
  text-decoration: none;
}

#footer-links > *:hover {
  color: rgb(85, 85, 85);
  text-decoration: underline;
}

